*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

#registration{
    background-image: url(laptop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    line-height: 50px;
}

#login{
    padding-top: 50px;
    line-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#success{
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    line-height: 50px;
    padding:200px;
    color: white;
    background-color: rgba(20, 20, 20, 0.747);
    text-align: center;
   

}

